<h3> Comanda da mesa #<%= @order.table%> </h3>
<br>
<h3> Cliente <%= @order.client_name%> </h3>
<br>

 <table class="table">
Items do pedido
  <thead>
    <tr>
      <th>Descrição </th>
      <th>Quantidade </th>
      <th>observações</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 <tbody>
    <% @order.product_order.each do |product_order| %>
      <tr>
        <td><%= product_order.product.name %></td>
        <td><%= product_order.quantity %></td>
        <td><%= product_order.aditional_info %></td>

      </tr>
    <% end %>
  </tbody>

</table>

